* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
 
header {
  background-color: #111;
  height: 100vh;
  width: 5rem;
  position: fixed;
  transition: width 0.3s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
 
header:hover {
  width: 12rem;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 5rem;
}

.logo {
  width: 10rem;
  height: auto;
  margin-bottom: 0.5rem;
}

.company-name {
  font-size: 1rem;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap;
}

header:hover {
  width: 12rem;
}

header:hover .company-name {
  opacity: 1;
}